<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">x1</label>
          <input type="text" class="form-control" name="x1">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">x2</label>
            <input type="text" class="form-control" name="x2">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">x3</label>
            <input type="text" class="form-control" name="x3">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">x4</label>
            <input type="text" class="form-control" name="x4">
          </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">x5</label>
          <input type="text" class="form-control" name="x5">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">x6</label>
          <input type="text" class="form-control" name="x6">
        </div>
        <div><input type="submit"value="submit"></div>
      </form>
</body>
</html>